body {
  font-family: sans-serif;
}
.Button-container {
  display: flex;
  justify-content: space-between;
}
button {
  background-color: #5b9bd5;
  border: 1px solid #54626e;
  padding: 8px;
  cursor: pointer;
}

.post {
  background-color: #5b9bd5;
  border: 1px solid #54626e;
  width: 70%;
}
.title,
.body {
  display: block;
  padding: 10px;
}
.title {
  text-align: center;
}
.post-container {
  margin: 10px;

  display: flex;
}
.fa-plus {
  margin: 10px;
  font-size: 48px;
  color: #5b9bd5;
}

.loadAll {
  display: flex;
  width: 70%;
}
.loadAll > button {
  margin-left: auto;
  padding: 8px 40px;
  cursor: pointer;
}
.selectedUser {
  background-color: #ed7d31;
}

.user {
  background-color: #5b9bd5;
  border: 1px solid #54626e;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
}
.user-container {
  display: flex;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin: 0px 7%;
}
.name {
  padding-left: 8px;
}

.fa-user {
  height: 50px;
  width: 50px;
  font-size: 50px;
  color: #ffffff;
}
.comment {
  margin: 0px 10% 5% 10%;
  border: 1px solid #5b9bd5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0 8px 0.001px;
}
.email {
  position: absolute;
  right: 10%;
}

/* .................. */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  text-align: center;
}
/* .................. */
