<ng-template #loading><div id="loader"></div></ng-template>
<div class="animate-bottom">
  <div>
    <span> <b> select a user to find their posts:</b></span>
  </div>
  <br />
  <br />
  <div class="Button-container" *ngIf="users$ | async as users$; else loading">
    <div *ngFor="let user of users$">
      <button class="userButton" (click)="getPostsByUserId(user.id, $event)">
        {{ getFirstName(user.name) }}
      </button>
    </div>
  </div>
  <br />
  <br />
  <div *ngIf="checkPostLoading">
    <div *ngIf="usersPosts$ | async as usersPosts$; else loading">
      <span><b>Posts from Ervin Howell:</b></span>
      <br />
      <br />

      <div *ngFor="let post of usersPosts$; let i = index">
        <div class="post-container" *ngIf="i < count">
          <div class="post">
            <span class="title">{{ post.title }}</span>
            <span class="body">{{ post.body }}</span>
          </div>
          <span>
            <i class="fa fa-plus" (click)="expandComments(post.id)"></i>
          </span>
        </div>
        <div *ngIf="checkUserCommentsLoading">
          <div *ngIf="usersComments$ | async as usersComments$; else loading">
            <div *ngIf="usersComments$ && usersComments$[0].postId == post.id">
              <div
                class="comment-container"
                *ngFor="let comment of usersComments$"
              >
                <div class="user-container">
                  <div class="user"><i class="fa fa-user"></i></div>
                  <span class="name">{{ comment.name }}</span>
                  <span class="email">{{ comment.email }}</span>
                </div>
                <br />
                <div class="comment">
                  <span>{{ comment.body }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="loadAll" *ngIf="count == 3">
        <button (click)="loadAll()">... Load All</button>
      </div>
    </div>
  </div>
</div>
